@import '../node_modules/nib/lib/nib/index.styl'

*
  box-sizing border-box
  transition all .1s linear

::selection
  background-color #EC644B
  font-weight bold
  color #FFF

::-webkit-scrollbar
  width 13px
  background #536363
  padding 10px 0

::-webkit-scrollbar-thumb
  background #747474
  border-radius 10px
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  min-height 50px

::-webkit-scrollbar-track
  background: #2c2c2c
  border-radius 10px
  -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)

::-webkit-scrollbar-button
  height 4px
  background-color transparent

html
body
  background-color #fff
  margin 0
  padding 0
  overflow-x hidden
  min-height 100vh

body
  display flex
  flex-direction column
  flex-wrap wrap
  position relative
  height auto
  justify-content center

.container
  border-radius 2px
  display flex
  flex 1
  flex-direction column
  flex-wrap wrap
  justify-content flex-start
  margin 0 auto
  max-width 650px
  position relative
  height auto
  width 90%
  &.content
    margin-top 100px
  &:before
  &:after
    content ''
    display table

.ChargingContainer
  text-align center
  margin 0 auto
  &-span
  &-img
    font-family 'Dosis', Arial, "Helvetica Neue", Helvetica, sans-serif
    font-size 25px

.Menu
  background-color #D24D57
  box-shadow 1px 1px 4px 4px #555
  color #fff
  display flex
  align-items center
  justify-content center
  fixed top 0 left 0 right 0
  font-family 'Roboto Condensed', Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size 16px
  height 60px
  text-align center
  width 100%
  z-index 90
  .container
    position relative
  &-logo
    color #FFF
    text-decoration none
  &-icon
    absolute top 30px right 10px
    font-size 30px
    height 40px
    width 40px
    &--lang
      absolute top 30px left 10px
      cursor pointer
      &:active ~ .u-dropdown
        display block
        opacity 1

.Movies
  display flex
  flex-wrap wrap
  list-style none
  margin 0 auto
  padding 0
  padding-top 280px
  position relative
  // width 90%

.Movie
  position relative
  margin 10px 12px
  width calc(50% - 24px)
  width -webkit-calc(50% - 24px)
  width -moz-calc(50% - 24px)
  transition all .3s linear
  &:only-child
    margin 0
    width calc(80% - 24px)
    width -webkit-calc(80% - 24px)
    width -moz-calc(80% - 24px)
    max-width 100%
  &:last-child
    .Movie-avatar
      img
        position relative !important
  &:nth-last-child(2):first-child:hover .Movie-avatar img
    position relative !important
  .Movie-avatar
    margin 0
    padding 0
    width 100%
    img
      border-radius 2px
      position initial
      top 0
      left 0
      width 100%
      z-index 1
      &:hover
        position absolute
        top -15px
        left -15px
        width 120%
        z-index 2

.SearchForm
  position absolute
  font-family 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size 14px
  font-weight: 700
  margin 0 auto
  top 90px
  left 10px
  right 10px
  width 90%
  &--charging
    position relative
    order -1
    margin-bottom 100px
  label
    font-size: 12px
    color: #979995
    text-transform: uppercase
    letter-spacing: 1px
  input
    border 1px solid #ccc
    border-radius 2px
    color #444
    height 38px
    font-family 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif
    font-weight bold
    line-height 1.4
    padding 6px 14px
    width 100%

.SearchBox
  background #22A7F0
  border-radius 2px
  color #fff
  display flex
  align-items center
  font-family 'Open Sans'
  font-size 20px
  height 70px
  left 10%
  padding 0 10px
  position absolute
  top 180px
  width 80%

.searchWord
  font-family 'Dosis', Arial, "Helvetica Neue", Helvetica, sans-serif
  text-decoration underline
  padding-left 5px

.u-dropdown
  absolute top 2px left 10px
  color #FFF
  font-weight bold
  .Dropdown
    background-color #EC644B
    height 60px
    position relative
    padding 0
    list-style none
    li
      cursor pointer
      text-align center
      height 50%
      padding 7px 10px
      width 100%
      vertical-align middle
      &:hover
        background-color #FFF
        color #EC644B

.modal
  background-color #fafafa
  border-radius 2px
  bottom 10%
  display none
  left 0
  margin auto
  max-height 70%
  overflow-y auto
  padding 0
  position fixed
  top 10%
  right 0
  width 55%
  will-change top, opacity
  &.modal-fixed-footer
    padding 0
    height 70%
  &.modal-fixed-footer .modal-content
    position absolute
    height calc(100% - 56px)
    max-height 100%
    width 100%
    overflow-y auto
  &.modal-fixed-footer .modal-footer
    border-top 1px solid rgba(0, 0, 0, 0.1)
    position absolute
    bottom 0
  &.modal-fixed-footer .modal-content
    position absolute
    height calc(100% - 56px)
    max-height 100%
    width 100%
    overflow-y auto
  &.modal-fixed-footer .modal-footer
    border-top 1px solid rgba(0, 0, 0, 0.1)
    position absolute
    bottom 0
  &.bottom-sheet
    top auto
    bottom -100%
    margin 0
    width 100%
    max-height 45%
    border-radius 0
    will-change bottom, opacity
  h1, h2, h3, h4
    margin-top 0
  .modal-content
    background-position center
    background-size cover
    background-repeat no-repeat
    padding 24px
    .modal-cont
      background rgba(white, .8)
      padding 5px
      h2
        font-family 'Dosis'
      p
        font-family 'Open Sans'
  .modal-close
    cursor pointer
  .modal-footer
    background-color #fafafa
    border-radius 0 0 2px 2px
    padding 4px 6px
    height 56px
    width 100%
  .modal-footer .btn,
  .modal-footer .btn-large,
  .modal-footer .btn-flat
    background-color red
    border-radius 8px
    color #FFF
    float right
    font-family Arial, "Helvetica Neue", Helvetica, sans-serif
    font-weight bold
    height 30px
    margin 8px
    padding 5px 25px
    text-align center
    text-decoration none
    width 150px

.lean-overlay
  position fixed
  z-index 999
  top -100px
  left 0
  bottom 0
  right 0
  height 125%
  width 100%
  background #000
  display none
  will-change opacity

.Movie-body
  overflow-y scroll

.Movie-img
  min-height 300px
  max-height 300px
  margin 0 auto
  min-width 100%
  width auto

@media screen and (max-width: 500px)
  .modal
    width 70%

@media screen and (min-width: 425px) and (max-width: 767px)
  .Movie
    margin 10px auto
    margin-left 9%
    max-width 170px
    width 40%
    &:only-child
      max-width 100%
      padding 0
    &:nth-child(2n+2)
      margin-left auto
      margin-right 9%

@media screen and (min-width: 624px) and (max-width: 767px)
  .Movie
    margin-left 12%
    &:only-child
      max-width 100%
      padding 0
    &:nth-child(2n-2)
      margin-right 12%
    &:nth-last-child(2)
      margin auto !important

@media screen and (min-width: 768px) and (max-width: 1023px)
  .Movie
    margin 10px auto
    width 30%
    max-width 150px
    &:only-child
      max-width 100%
      padding 0
    &:nth-last-child(2):first-child
      max-width 40%
      width auto
      padding 0
    &:nth-child(3n+1)
      margin-left 5%
    &:nth-child(3n+2)
      margin 10px 0
    &:nth-child(3n+3)
      margin-right 5%

@media screen and (min-width: 1024px)
  .modal
    width 700px
  .container
    max-width 900px
  .Movie
    margin 15px auto
    max-width 150px
    width 20%
    &:only-child
      max-width 100%
      padding 0
    &:nth-child(4n+1)
      margin-left 10%
    &:nth-child(4n+4)
      margin-right 10%
    &:last-child:not(:nth-child(4n+4))
      margin-right 10%
